body {
    background: #0000ff;
    color: white;
    font-family: GoodOldDos, sans-serif;
    display: flex;
    justify-content: center; /*center horizontal*/
    align-items: center; /*center vertical*/
    height: 100vh;
}
.big {
    font-size: 70px;
}
@font-face {
  font-family: GoodOldDos;
  src: url('../fonts/Good\ Old\ DOS.ttf');
}